html, body, #map {
    height: 100%;
    margin: 0
}

.walk-origin {
    background-image: url('../img/trailhead.png');
    background-size: cover;
    width: 20px;
    height: 20px;
    cursor: pointer
}